.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left-no-border-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-medium-width {
    max-width: 600px;
}

.center-flex {
    display: flex;
    justify-content: center;
}