{% extends "base.html" %}

{% block content %}
<table class="table table-hover">
    {% for todo in todos %}
    <tr>
        <td>
            <div class="flex-row">
                <span>
                    <p>{{ todo.task }}</p>
                </span>
                <form action="{{ url_for('main.edit', todo_id=todo.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
            <br>
            <div class="flex-row">
                {{ todo.description }}
                <form action="{{ url_for('main.delete_todo', todo_id=todo.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}