{% extends "base.html" %}

{% block content %}
<form class="center-flex" action="{{ url_for('main.index') }}" method="get">
    {{ form.hidden_tag() }}
    <div class="input-group mb-3 input-medium-width">
        <input type="text" class="form-control" name="search" placeholder="Search todos..."
            value="{{ request.args.get('search', '') }}">
        <div class="input-group-append">
            <button class="btn btn-primary left-no-border-radius" type="submit">Search</button>
        </div>
    </div>
</form>
<table class="table table-hover">
    {% for todo in todos %}
    <tr>
        <td>
            <div class="flex-row">
                <span>
                    <p>{{ todo.task }}</p>
                </span>
                <form action="{{ url_for('main.edit', todo_id=todo.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
            <br>
            <div class="flex-row">
                {{ todo.description }}
                <form action="{{ url_for('main.delete_todo', todo_id=todo.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}